.image-grid {
  display: grid;
  padding: 20px 60px;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
}

.image-grid img,
.image-grid video {
  width: 100%;
}

.image-group-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
}

.image-group-2 {
  display: flex;
}

.table {
  display: grid;
  grid-template-columns: 300px 2fr 1fr;
  padding: 20px 60px;
  gap: 10px;
  align-items: start;
}

.title-cell {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 13px;
}

.text-columns {
  grid-column: 2 / 3;
  columns: 2;
  column-gap: 10px;
}

/*prev/next button*/
#counter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

#counter h1 {
  margin: 0;
}

#counter a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
  /*smooth transistion for transform effect*/
}

#counter a[rel="prev"]:hover {
  transform: translateX(-5px);
}

#counter a[rel="next"]:hover {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
