.image-grid {
  display: grid;
  padding: 20px 60px;
  gap: 10px;
  vertical-align: middle;
  grid-template-columns: 1fr;
}

.image-grid img {
  width: 100%;
}

img {
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}

.image-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 60px;
  gap: 10px;
  align-items: start;
}

.title-cell {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-columns {
  grid-column: 2 / 3;
  columns: 2;
  column-gap: 10px;
}

/*prev/next button*/
#counter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

#counter h1{
  margin: 0;
}

#counter a{
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
  /*smooth transistion for transform effect*/
}

#counter a[rel="prev"]:hover{
transform: translateX(-5px);
}

#counter a[rel="next"]:hover{
transform: translateX(5px);
}

@media (min-width: 1280px) {
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }
}
